* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, #a6f665 0%, #fbfd85 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.config-bar {
    width: 100%;
    height: 12vh;
    text-align: center;
}

.config-bar-container {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 1%
}

header {
    font-size: 2rem;
}

.graph {
    height: 100%;
    width: 100%;
}
.node {
    width: 1rem;
    height: 1rem;
    background-color: white;
    box-shadow: 1px 0 0 black;
}

.grid {
    width: 100%;
    height: 80vh;
}

.grid-container {
    width: 1550px;
    height: 750px;
    margin: auto;
    margin-top: 5%;
}

.squareNode {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
}

.start-node {
    background: rgb(17, 0, 252);
    border: 1px solid #999;
    float: left;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
}

.dest-node {
    background: rgb(255, 0, 0);
    border: 1px solid #999;
    float: left;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
}

.wall-node {
    background: rgb(48, 48, 48);
    border: 1px solid #999;
    float: left;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
}

 