.graph {
    height: 100%;
    width: 100%;
}
.node {
    width: 1rem;
    height: 1rem;
    background-color: white;
    box-shadow: 1px 0 0 black;
}

.graph {
    width: 100%;
    height: 80vh;
}

.grid-container {
    width: 80%;
    height: 70vh;
    margin: auto;
    margin-top: 5%;
}

.squareNode {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
  }